.first-section {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--order-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("./studio_bg_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Эффективные решения для вашего бизнеса */
.h1-style {
  width: 696px;
  height: 120px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--header-background-color);
}
